__pycache__/
*.py[cod]
*$py.class

build/
dist/
eggs/
*.egg
*.egg-info/
*.egg-info/*
pip-wheel-metadata/

venv/
.venv/
env/
.venv*/
ENV/
env.bak/
*.virtualenv

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

*.sql
*.sqlite3

missing_scans/
scan_backups/
gudid_devices.db
items.db

staticfiles/
static/

*.cache

.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

Thumbs.db

*.env
.env
.env.*
secrets.json

PIMDetails.xlsx

db.sqlite3
Gudiddeviceinfo.txt